<h2 style="text-align: center">Vehiculos en el estacionamiento</h2>
<h4 style="text-align: center"> Hoy {{fecha | date: 'dd'}}/{{fecha | date:'MM'}}/{{fecha | date: 'yyyy'}} a las
  {{fecha | date: 'HH'}}
  : {{fecha | date: 'mm'}} </h4>

  <button class="btn" (click)="listarTiquetes()">
    Refrescar</button>
<div class="container">
  <div class="row">
    <div class="col s12">
      <p-table [value]="tiquetes">
        <ng-template pTemplate="header">
          <tr>
            <th>PLACA</th>
            <th>TIPO DE VEHICULO</th>
            <th>FECHA DE ENTRADA</th>
            <th>DAR SALIDA</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tiquete>
          <tr>
            <td id="{{tiquete.placa}}" >{{tiquete.placa}}</td>
            <td id="{{tiquete.tipoVehiculo}}">{{tiquete.tipoVehiculo}}</td>
            <td id="{{tiquete.fechaEntrada}}">{{tiquete.fechaEntrada}}</td>
            <td><button class="btn" id="btnExit{{tiquete.placa}}" (click)="registrarSalidaTicket(tiquete.placa)">
                Salida</button></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
